@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@400;500&display=swap');

body {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Unbounded', cursive;
}

body * {
    box-sizing: border-box;
}

h1,
h2,
p {
    margin: 0;
}

legend {
    color: rgb(110, 110, 139);
    font-size: 0.6rem;
    display: inline-block;
    position: relative;
    margin: 10px 0 10px 0;
}

legend::after,
legend::before {
    content: "";
    position: absolute;
    top: 0.65em;
    width: 21em;
    height: 0.05em;
    background-color: #36395a;
    left: -1.25em;
}

legend::before {
    left: initial;
    right: -1.25em;
}

.btn-config-default {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    border: none;
}

.main-login-page {
    width: 100vw;
    height: 100vh;
    display: flex;

}

.left-side-login {
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(32, 32, 60);
    height: 100%;
}

.card-login {
    width: 60%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.card-login input {
    background-color: rgb(36, 36, 67);
}

.texts-login {
    margin: 60px 0;
}

.texts-login>h2 {
    color: rgb(254, 254, 254);
}

.texts-login>p {
    color: rgb(110, 110, 139);
    font-size: .8rem
}

.remember-question {
    display: flex;
    gap: 159px;
    margin: 10px 0 10px 0;
}

.remember-question>label {
    color: rgb(110, 110, 139);
    font-size: .9rem;
    cursor: pointer;
}

.remember-question a {
    text-decoration: none;
    color: rgb(110, 110, 139);
    font-size: .7rem;
    line-height: 18px;

}

.log-in {


    position: relative;

    display: inline-block;

    padding: 10px 20px;

    color: #03e9f4;

    font-size: 16px;

    text-decoration: none;

    text-transform: uppercase;

    overflow: hidden;

    transition: 0.2s;

    margin-top: 40px;

    letter-spacing: 4px
}

.log-in:hover {

    background: #03e9f4;

    color: #fff;

    border-radius: 5px;

    box-shadow: 0 0 5px #03e9f4,

        0 0 25px #03e9f4,

        0 0 50px #03e9f4,

        0 0 100px #03e9f4;

}

.log-in span {
    position: absolute;
    display: block;

}

.log-in span:nth-child(1) {

    top: 0;

    left: -100%;

    width: 100%;

    height: 2px;

    background: linear-gradient(90deg, transparent, #03e9f4);

    animation: btn-anim1 1s linear infinite;

}

@keyframes btn-anim1 {

    0% {

        left: -100%;

    }

    50%,
    100% {

        left: 100%;

    }

}

.log-in span:nth-child(2) {

    top: -100%;

    right: 0;

    width: 2px;

    height: 100%;

    background: linear-gradient(180deg, transparent, #03e9f4);

    animation: btn-anim2 1s linear infinite;

    animation-delay: .25s
}


@keyframes btn-anim2 {

    0% {

        top: -100%;

    }

    50%,
    100% {

        top: 100%;

    }

}

.log-in span:nth-child(3) {

    bottom: 0;
  
    right: -100%;
  
    width: 100%;
  
    height: 2px;
  
    background: linear-gradient(270deg, transparent, #03e9f4);
  
    animation: btn-anim3 1s linear infinite;
  
    animation-delay: .5s
  
  }
  
   
  
  @keyframes btn-anim3 {
  
    0% {
  
      right: -100%;
  
    }
  
    50%,100% {
  
      right: 100%;
  
    }
  
  }
  
   
  
  .log-in span:nth-child(4) {
  
    bottom: -100%;
  
    left: 0;
  
    width: 2px;
  
    height: 100%;
  
    background: linear-gradient(360deg, transparent, #03e9f4);
  
    animation: btn-anim4 1s linear infinite;
  
    animation-delay: .75s
  
  }
  
   
  
  @keyframes btn-anim4 {
  
    0% {
  
      bottom: -100%;
  
    }
  
    50%,100% {
  
      bottom: 100%;
  
    }
  
  }

.singn-google {
    background-color: rgb(32, 32, 60);
    border: 1px solid #2b2f46;
    color: #7f7f9b;
    line-height: 20px;
    background-image: url('assets/google-icon.svg');
    background-repeat: no-repeat;
    background-position: 7rem;
    background-size: 1.5rem;
    cursor: pointer;
}

.singn-facebook {
    background-color: rgb(32, 32, 60);
    border: 1px solid #2b2f46;
    color: #7f7f9b;
    line-height: 20px;
    background-image: url('assets/facebook-icon.svg');
    background-repeat: no-repeat;
    background-position: 6.5rem;
    background-size: 1.5rem;
    cursor: pointer;
}

.label-float {
    position: relative;
    padding-top: 13px;
}

.label-float label {
    font-size: 0.8rem;
    color: #81818b;
}

.label-float input {
    width: 100%;
    color: #FFF;
}

.label-float input {
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 15px 20px;
    transition: all .1s linear;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -webkit-appearance: none;
}

.label-float input:focus {
    border: 2px solid #3951b2;
}


.label-float input::placeholder {
    color: transparent;
}

.label-float label {
    pointer-events: none;
    position: absolute;
    top: calc(50% - 8px);
    left: 1rem;
    transition: all .1s linear;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    background-color: rgb(36, 36, 67);
    padding: 5px;
    box-sizing: border-box;
}

.label-float input:required:invalid+label {
    color: #81818b;
}

.label-float input:focus:required:invalid {
    border: 2px solid #3951b2;
}



.label-float input:focus+label,
.label-float input:not(:placeholder-shown)+label {
    font-size: 10px;
    top: 0;
    color: #3951b2;
}

.right-side-login {
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(26, 26, 47);
}

.img-login {
    width: 40rem;
}